#board {
  background-image: url("./images/board.png");
  height: 98vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100%;
}

#bank {
  position: absolute;
  left: 0%;
  top: 80vh;
  width: 100%;
}

#middle-container {
  position: absolute;
  left: 0%;
  top: 45vh;
  justify-content: space-between !important;
}

#bank {
}

.card {
  height: 15vh;
  width: 5%;
  background: url(../../assets/img/verso.jpg) center / cover no-repeat;
  margin: 10px;
}

#players {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  width: 100%;
}

#player-first-row {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}

#player-second-row {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  margin-top: 25vh;
}

#players .card {
  width: 30%;
}

body {
  background-color: rgb(0,133,98);
}

#player-1 {
  transform: rotate(-30deg);
  padding-top: 7%;
  padding-right: 3%;
}

#player-2 {
}

#player-5 {
  transform: rotate(30deg);
  padding-top: 7%;
  padding-left: 3%;
}

#player-second-row .card {
  width: 12%;
}

#player-6 {
  transform: rotate(90deg);
}

#middle-container .card {
  width: 17%;
}

#player-7 {
  transform: rotate(90deg);
}

.btn:not(:disabled):not(.disabled) {
}

#reveal-button {
}

#bank .cards-container {
  width: 70%;
}

div {
}

div {
}

#bank .cards-container .card {
  width: 8%;
}

#reveal-text {
  text-align: center;
  color: white;
  font-size: 45px;
}

#time {
  color: white;
  font-size: 45px;
}

