#board {
  background-image: url("./images/board.png");
  height: 98vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#bank {
  padding-top: 10vh;
  width: 100%;
} 

#middle-container {
  padding-top: 10vh;
  justify-content: space-between !important;
}

@media screen and (min-width: 900px) {}

.card {
  height: 10vw;
  min-width: 7vw;
  background: url(../../assets/img/verso.jpg) center / cover no-repeat;
  margin: 10px;
}

#players {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#player-first-row {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}

#player-second-row {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  margin-top: 25vh;
}

body {
  background-color: rgb(0,133,98);
}

#player-1 {
  transform: rotate(-30deg);
  padding-top: 7%;
  padding-right: 3%;
}

#player-5 {
  transform: rotate(30deg);
  padding-top: 7%;
  padding-left: 3%;
}

#player-6 {
  transform: rotate(90deg);
}

#player-7 {
  transform: rotate(90deg);
}

#bank .cards-container {
  width: 70%;
}

#reveal-text {
  text-align: center;
  color: white;
  font-size: 1rem;
}

#time {
  color: white;
  font-size: 1rem;
}

#middle {
  position: fixed;
  height: 50vh;
  width: 50vw;
  z-index: 1000;
}

#results {
  z-index: 1001;
}

